node_modules

# Ignore files in .ssh except `*.md` & `config`
.ssh/**/*
!.ssh/**/*.md
!.ssh/**/config
!.ssh/**/*.zsh

# Ignore .env files
.env*
!.env*.example

# Ignore tmux plugins (these are usually git repos)
.config/tmux/plugins

.local/share

.cursor
!.cursor/mcp.json
.claude