node_modules

# Ignore files in .ssh except `*.md` & `config`
.ssh/**/*
!.ssh/**/*.md
!.ssh/**/config_defaults
!.ssh/**/*.zsh

# Ignore .env files
.env*
!.env*.example

# Ignore tmux plugins (these are usually git repos)
.config/tmux/plugins

.local/share

.cursor
!.cursor/mcp.json

# claude
.claude/cache
.claude/debug
.claude/downloads
.claude/file-history
.claude/ide
.claude/plugins
.claude/projects
.claude/session-env
.claude/shell-snapshots
.claude/statsig
.claude/telemetry
.claude/todos
.claude/history.jsonl
.claude/stats-cache.jso
.claude/*.local.json
.claude/stats-cache.json
.local/bin/claude
.claude-ntfy