//registry.npmjs.org/:_authToken=${NPM_TOKEN}
save-exact=true
auto-install-peers=true
package-lock=true
engine-strict=true
fund=false
update-notifier=false
loglevel=warn
progress=true
audit-level=moderate
audit=true
audit-signatures=true